<style>@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

</style>body {
    margin: 0;

}

#title {
    font-family: ;
}

nav {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #103571;
    color: #4A5568;

}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;

}

#logo {
    display: flex;
    height: 70px;

}


nav.button {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}




header {
    background-color: #103571;
    display: flex;
    
}