body{
    margin: 0;
}
nav{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: rgb(4, 138, 255);

}
#logo{
    display: flex;
    height: 70px;
    
}

#link{
    display: flex;
}



